#editor-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

#editor-controls label {
    display: flex;
    align-items: center;
    gap: 5px;
}

#canvas-container, #cropper-container {
    position: relative;
    width: 100%;
    margin: auto;
}

canvas {
    border: 1px solid #ccc;
    width: 100%;
}

#cropper-container img {
    max-width: 100%;
}

#toast-container {
    z-index: 10000;
}
#toast-container .toast-title, #toast-container .toast-message{
    color: #000 !important;
}